<% include partials/header %>

<h1>
    <%= currentUser.username %>
</h1>

<a class="btn btn-primary" href="/books_entry">Add Book</a>

<a class="btn btn-primary" href="/admin/requested_books">Requested Books</a>

<a class="btn btn-primary" href="/admin_books">ALL BOOKS</a>

<a class="btn btn-primary" href="/admin/allusers">ALL USERS</a>

<% include partials/footer %>
